<div class="row">
    <div ng-init="order={}" class="col-lg-5">
        <div class="form-group">
            <label>Product name</label>
            <input class="form-control" ng-model="order.name"/>
        </div>
        <div class="form-group">
            <label>Count</label>
            <input class="form-control" ng-model="order.count"/>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" ng-model="order.price"/>
        </div>
        <button class="btn btn-success"
                ng-click="services.addOrder(order);" ui-sref="detail({id:customerId})">Add</button>
    </div>
</div>